datasets/*
!datasets/.gitkeep
!datasets/sim_data_heart2duck
!datasets/sim_data_rectangle
!datasets/sim_data_bio_prior
!datasets/sim_data_bio_prior_5pts

test/*

setup.py
test_final.ipynb
testpp.ipynb

tutorial/save_model/*
!tutorial/save_model/.gitkeep

tutorial/save_results/*
!tutorial/save_results/.gitkeep

tutorial/ARTISTA_new.ipynb
tutorial/Drosophila3D.ipynb
tutorial/simulated_data_figure2.ipynb
tutorial/05_Drosophila3D.ipynb